*{
    background-color: #212A3E;
    box-sizing: border-box;
}


/* Marvel vs DC page */

.game-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-header{
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.game-header h1{
    margin: 2% 0%
}

.game-header h3{
    margin: 0%;
    color: yellow;
}


.card-section-main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 1% 5%;
    color: #ffffff;
}

.dice{
    width: 25%;
    align-items: center;
    justify-content: center;
    display: flex;
}


.card-section-main p{
    font-size: 300%;
}

.card-section{
    width: 20%;
    height:20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    
}

.card-section h3{
    margin-top: 6%;
}

.card-section img{
    width:75%;
    border-radius: 5%;
    border: 1px solid #ffffff;
    margin: 1% 0%;
    
    
}


.custom-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    
}

.custom-button a{
    width: 25%;
    margin-left: 2%;
    margin-right: 2%;
}

.victory{
    box-shadow: 0 4px 8px 0 rgb(2, 245, 55), 0 6px 20px 0 rgb(2, 245, 55);
}

.footer-section{
    text-align: center;
    padding: 3%;
    color: aliceblue;
}

.social-icons a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.social-icons a:hover{
    color: skyblue;
}





@media screen and (max-width: 900px){

    /* Marvel vs DC page */

    .game-header h3{
        color: yellow;
        margin: 2% 0%;
    }

    .card-section-main{
        
        flex-direction: column;
        justify-content: center;
        padding: 0%;
    }

    .card-section{
        width: 50%;
        height:50%;
    }

    .custom-button{
        margin: 5% 0%;
    }
}